<!DOCTYPE html>
<html>
  <head>
    <title>Date and Time</title>
  </head>
  <body>
    <h1>Date and Time</h1>
    <h2>The date is</h2>
    <p><%=Time.now.strftime("%A, %B %d, %Y")%></p>
  </body>
</html>
